.header {
    display: flex;
    padding: var(--px-16, 16px);
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: var(--Primitive-Primary-Grey-Standard, #F8F8F8);
}

.container {
    max-width: var(--Block-Desktop-Width, 1440px);
    margin: 0 auto;
}

/* FLEX */
.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-center {
    justify-content: center;
    align-items: center;
}

.col-12 { flex: 0 0 100%; }
.col-10 { flex: 0 0 83.33%; }
.col-6 { flex: 0 0 50%; }
.col-4 { flex: 0 0 33.33%; }


.gap-0 {gap: 0 !important;}


/* RATIO */
.ratio--1-1 { aspect-ratio: 1 / 1; }
.ratio--16-9 { aspect-ratio: 16 / 9; }
.ratio--9-16 { aspect-ratio: 9 / 16; }
.ratio--4-5 { aspect-ratio: 4 / 5; }

/* MEDIA QUERY */
@media screen {
    @media (max-width: 750px) {
        .container {
            max-width: var(--Block-Mobile-Width, 750px);
        }

        .col-12,
        .col-10,
        .col-6,
        .col-4 { flex: 0 0 100%; }
    }
}