.video {
    padding: var(--px-24, 24px);

    .video-container {
        position: relative;
    }
}

/* MEDIA QUERY */
@media screen {
    @media (max-width: 750px) {
        .video {
            padding: 0;
        }
    }
}