.hero {
    width: 100%;
    aspect-ratio: 2 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .hero-images {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .hero-content {
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: var(--px-80, 80px);
    }

    .hero-text {
        gap: var(--px-24, 24px);
    }

    .hero-ctas {
        display: flex;
        justify-content: center;
        gap: var(--px-32, 32px);
    }

    /* HERO LOW */
    &.hero--low {
        aspect-ratio: 36 / 11;

        .hero-content {
            gap: var(--px-40, 40px);
        }
    }
}

/* MEDIA QUERY */
@media screen {
    @media (max-width: 750px) {
        .hero {
            aspect-ratio: 75 / 136;
            padding: 0px 16px;

            .hero-content {
                gap: var(--px-40, 40px);
            }

            .hero-text {
                gap: var(--px-8, 8px);
            }

            .hero-ctas {
                flex-direction: column;
                gap: var(--px-16);
            }

            /* HERO LOW */
            &.hero--low {
                aspect-ratio: 75 / 64;
            }
        }
    }
}